<h1>Pagina de regsitro</h1>

<form method="post" action="/api/user">
    <input type="text" placeholder="Ingrese nombre" name="first_name"/>
    <br/><br/>
    <input type="email" placeholder="ingrese correo" name="email"/>
    <br/><br/>
    <input type="password" placeholder="Ingrese contrasena" name="password"/>
    <br/><br/>
    <button type="submit">Registrarse</button>
</form>