<h1>Olvidaste tu contraseña?</h1>
<p>Ingresa tu correo:</p>
<form method="post" action="/api/sessions/forgot-password">
    <input type="email" placeholder="correo electronico" name="email"/>
    <br/><br/>
    <button>Restablecer contraseña</button>
</form>