<h1>Pagina del perfil</h1>

<p>Nombre: {{user.first_name}}</p>
<p>Apellido: {{user.last_name}}</p>
<p>Correo: {{user.email}}</p>

<hr>
<a href="/api/sessions/logout">
    <button>Cerrar sesion</button>
</a>