<h2>Restablecer contraseña</h2>

<form method="post" action="/api/sessions/reset-password?token={{token}}">
    <input type="password" placeholder="Ingresa tu nueva contraseña" name="newPassword" />
    <br/><br/>
    <button>Cambiar contraseña</button>
</form>