<h1>Pagina principal</h1>

<input type="text" id="chatBox" placeholder="Ingrese un mensaje"/>
<button id="sendButton">Enviar mensaje</button>
<div id="chatHistory"></div>

<script src="socket.io/socket.io.js"></script>
<script src="js/home.js"></script>