<h1>Página principal</h1>

<div style="margin:10px;">
    <input type="text" placeholder="Ingresa aqui tu mensaje" id="chatBox"/>
    <hr>
    <div id="messageLogs"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>