<h1>Pagina para restaurar Contraseña</h1>

<form method="post" action="/api/sessions/forgot">
    <input type="email" placeholder="Correo" name="email"/>
    <br/><br/>
    <input type="password" placeholder="Contraseña" name="newPassword"/>
    <br/><br/>
    <button type="submit">Restaurar</button>
</form>