<h1>Pagina de login</h1>

<form action="/login" method="post">
    <input type="text" name="email" placeholder="correo electronico" />
    <br/><br/>
    <input type="password" name="password" placeholder="contraseña" />
    <button type="submit">Iniciar sesion</button>
</form>