<h1>pagina del chat</h1>

<div>
    <input type="email" placeholder="Ingresa tu correo" id="chatEmail"/>
    <br/><br/>
    <input type="text" placeholder="Ingresa tu mensaje" id="chatInput"/>
    <br/><br/>
    <button id="sendMessage">Agregar mensaje</button>
</div>

<div id="msgContainer"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>